@import url("styles/header.css");
@import url("styles/main.css");
@import url("styles/about.css");
@import url("styles/projetos.css");
@import url("styles/rodape.css");
@import url("styles/conhecimentos.css");

:root{
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;
    --cor-rodape: #293235;

    --fonte-primaria: 'Krona one', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body{
    background-color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-secundaria);
}
